# Django Secret Key - Change this to a secure random key in production
SECRET_KEY=your_secret_key_here

# Google OAuth Configuration
GOOGLE_CLIENT_ID=your_google_client_id_here

# Django Debug Mode (set to False in production)
DEBUG=True

# SUNO
SUNO_API_KEY=your_key_here

# For Production only
SUNO_CALLBACK_URL=https://your-production-domain.com/api/suno/callback/

# Open API key
OPENAI_API_KEY = "your-openai-api-key"